body,
.btn {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.container {
  width: 1400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 128px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  width: 1000px;
  margin-bottom: 30px;
}

.about {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url("../resources/inter.png");
  background-repeat: no-repeat;
}

.about-text {
  width: 430px;
  color: #ffffff;
  position: absolute;
  bottom: 40px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 27.32px;
}

h2 {
  margin-top: 150px;
  font-size: 18px;
  margin-bottom: 30px;
}

p {
  width: 1100px;
  font-size: 45px;
  line-height: 61px;
  margin-right: 45px;
}

.btn {
  width: 255px;
  height: 67px;
  margin-top: 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ad1818;
  border: #ad1818;
  cursor: pointer;

  font-size: 20px;
}
